
<img id="bgImage" src="/assets/images/HomePage/SaleCount.jpg">

<div class="MainFrame">
    <button id="loginButton" *ngIf="styleString==''" type="submit" (click)="UserLogIn()" class="btn btn-primary">Sign In</button>
    <button id="registerButton" *ngIf="styleString==''" type="submit" (click)="RegistrUser()" class="btn btn-primary">Sign Up</button>
    <div class="container">
        <div id="centeredDiv" class="centered" *ngIf="styleString!=''">
            <form *ngIf="styleString=='showLogin'" (ngSubmit)="onSubmitLogin(formData)" #formData="ngForm">

                <div class="w3-container w3-center w3-animate-opacity" id="SignInForm">
                    <input id="BackButton" (click)="backButtonPressed()" value="Back" type="button" class="btn btn-primary">
                    <amexio-email-input ngModel [fieldLabel]="'Email'" name="email" [placeholder]="'Enter Email address'" [allowBlank]="false"
                        [errorMsg]="'Please enter Email address'" [enablePopOver]="true" [popoverPlacement]="'right'" [iconFeedBack]="true">
                    </amexio-email-input>
                    <amexio-password-input ngModel [enablePopOver]="true" [popoverPlacement]="'right'" [fieldLabel]="'Password'" name="password"
                        [placeholder]="'Enter Password'" [allowBlank]="false" [errorMsg]="'Please enter password'">
                    </amexio-password-input>
                    <button type="submit" class="btn btn-primary">Login In</button>
                </div>

            </form>
            <form *ngIf="styleString=='showRegister'" (ngSubmit)="onSubmitRegister(formData)" #formData="ngForm">
                <!--Text Input with Validations-->
                <div class="w3-container w3-center w3-animate-opacity" id="RegForm">
                    <input id="BackButton" (click)="backButtonPressed()" value="Back" type="button" class="btn btn-primary">
                    <amexio-text-input ngModel [fieldLabel]="'First Name'" name="fName" [placeholder]="'Enter First name'" [allowBlank]="false"
                        [errorMsg]="'Please enter last name'" [minLength]="1" [minErrorMsg]="'Minimum 1 char required'" [maxLength]="10"
                        [maxErrorMsg]="'Maximum 10 char allowed'" [iconFeedBack]="true" [enablePopOver]="true" [popoverPlacement]="'right'">
                    </amexio-text-input>
                    <amexio-text-input ngModel [fieldLabel]="'Last Name'" name="lName" [placeholder]="'Enter Last name'" [allowBlank]="false"
                        [errorMsg]="'Please enter last name'" [minLength]="1" [minErrorMsg]="'Minimum 1 char required'" [maxLength]="10"
                        [maxErrorMsg]="'Maximum 10 char allowed'" [iconFeedBack]="true" [enablePopOver]="true" [popoverPlacement]="'right'">
                    </amexio-text-input>
                    <amexio-text-input ngModel [fieldLabel]="'Gender'" name="gender" [placeholder]="'Enter Your Gender'" [allowBlank]="false"
                    [errorMsg]="'Please enter last name'"  [maxLength]="1"
                    [maxErrorMsg]="'Maximum 1 char allowed'" [iconFeedBack]="true" [enablePopOver]="true" [popoverPlacement]="'right'">
                </amexio-text-input>
                    <amexio-text-input ngModel [fieldLabel]="'Address'" name="address" [placeholder]="'Enter Address '" [allowBlank]="false" [errorMsg]="'Please enter last name'"
                        [minLength]="1" [minErrorMsg]="'Minimum 1 char required'" [maxLength]="10" [maxErrorMsg]="'Maximum 10 char allowed'"
                        [iconFeedBack]="true" [enablePopOver]="true" [popoverPlacement]="'right'">
                    </amexio-text-input>
                    <amexio-number-input ngModel [fieldLabel]="'Phone Number'" name="phoneNo" [placeholder]="'Enter Phone Number'">
                    </amexio-number-input>
                    <amexio-email-input ngModel [fieldLabel]="'Email'" name="email" [placeholder]="'Enter Email Id'" [allowBlank]="false" [errorMsg]="'Please enter Email address'"
                        [enablePopOver]="true" [popoverPlacement]="'right'" [iconFeedBack]="true">
                    </amexio-email-input>
                    <amexio-password-input ngModel [enablePopOver]="true" [fieldLabel]="'password'" name="password" [placeholder]="'Enter Password'"
                        [allowBlank]="false" [errorMsg]="'Please enter password'" [minLength]="6" [minErrorMsg]="'Minimum 6 char required'"
                        [maxLength]="32" [maxErrorMsg]="'Maximum 32 char allowed'" [iconFeedBack]="true" [popoverPlacement]="'right'">
                    </amexio-password-input>
                    <button id="registerButton" *ngIf="styleString=='' || styleString=='showRegister'" type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>

        </div>
    </div>
</div>
