html
{
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
}
.mySlides {
    display:none
}
.demo {
    cursor:pointer;
    margin-bottom:20px;
}
img{
    height: 400px; 
    width: 400px; 
    margin-right: 30px;
    margin-left: 30px;
}
.mySlides{
    height:400px;
    width:400px;
    margin-bottom: 40px;
}
.w3-content
{
    margin-top: 20px;
    margin-left: 20px;
    max-width:5500px;
}
.w3-row{
    margin-left:90px;
}