<div class="w3-container">
  <div class="w3-bar w3-light-grey w3-right">
    <a href="#" class="w3-bar-item w3-button w3-xlarge">
    <i class="fa fa-home" aria-hidden="true"></i>  
    </a>
    <a href="#" class="w3-bar-item  w3-button w3-xlarge">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    <div class="w3-dropdown-hover w3-bar-item  w3-xlarge">
        <i class="fa fa-user" aria-hidden="true"></i>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Edit Profile</a>
        <a href="#" class="w3-bar-item w3-button">Log Out</a>
      </div>
    </div>
  </div>
</div>
<!--
  
    <div class="d-flex justify-content-end bd-highlight mb-3">
 
    </div>
  
  <a class="navbar-brand" href="#">
    <img src="/assets/images/HomePage/userLogo.png" width="30" height="30" class="d-inline-block align-top" alt="userLogo">
  </a>
-->